

@keyframes anim2{
    from{background: url(../image/1.jpg)-175px -85px}
    to{background: url(../image/1.jpg) -540px -85px}
}

.box1{
    width: 95px;
    height: 95px;
    border: solid 1px black;
   // background: url(../image/1.jpg)-170px -5px;
   animation: anim2 1s steps(5) infinite;
}
