* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list { 
    overflow: hidden;
}
/* Лента слайдов */
.slick-track{
    display: flex;
    justify-content: space-between;
}
/* Слайд */
.slick-slide{
    width: 400px;height: 400px;
    margin: 10px;
    margin-left: 20px;
    margin-bottom: 44px;
    
}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{
    display: none;
}
/* Стрелка вправо */
.slick-arrow.slick-next{
    display: none;
}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}
.slick-prev .slick-arrow{
    display: none !important;
}
@media  all and (max-width:1160px){
    .slick-slide{
        width: 400px;height: 400px;
        margin: 10px;
        margin-left: 20px;
        margin-bottom: 20px;
        
    }
   
}
@media  all and (max-width:800px){
    .slick-slide{
        height: 200px;
    }
}