.margin_auto{
    margin: auto;
}
ul{
    list-style: none;
    margin: 0;
}
ol{
    list-style: none;
    margin: 0;
}
.font_1{
    font-family: 'Open Sans', sans-serif;
}
.backgraund1{
    background: #C4C4C433;
}
.conteiner{
    max-width:1296px;
    margin:0 auto;
    
}
.float_left{
    float: left;
}
.float_right{
    float: right;
}
.border1{
    border: solid 1px;
}

.image_wolf{
    margin-left: 68px;
    margin-top: 7px;
}
.wolf_house_position{
    margin-top: 27px;
    margin-left: 9px;
    font-size: 18px;
    font-weight: 700;
    margin-right: 74px;
}
.poisk1{
    height: 40px;
    max-width:  540px;
    min-width: 300px;
    border-radius: 20px;
    overflow: hidden;
    background: url(image/Search.png)  5% no-repeat;
    background-size: 15px 15px;
    background-color: white;
   
    margin-top: 21px;
    margin-left: 54px;
    margin-bottom: 11px;
    
    
}
.text_poisk {
    opacity: 0.5;
    margin-left: 51px;
    margin-top: 9px;
    width: 240px;
    height: 22px;
}
.basket{
    width: 20px;
    height: 20px;
    margin-right: 90px;
}
.list1{
    margin-top: 32px;
    margin-left: 0;
    font-weight: 400;
    font-size: 14px;
    font-weight: 400;
}
.flag_usa{
    background: url(image/flag_usa.png) left no-repeat;
    background-size: 30px 18px;
}
.button1{
    text-align: center;
    background-color: #0772BF;
    border-radius: 4px;
    Width : 145px;
    Height : 40px;
    margin-left: 80px;
    margin-top: 20px;
    vertical-align: middle;
    color:#fff;
    margin-bottom: 20px;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
}
div.menu_top ul{
    padding: 0;
}
.menu_top{
    margin-right: 50px;
}
.margin_2_strong{
    margin-top: 30px;
    letter-spacing: 0.01em;
    margin-left: -15px;
    margin-bottom: 20px;
}
.vertikal_align1{
   margin-top: 10px;
}
.st_banner_1{
    background: url(image/st_banner_1.png) no-repeat;
    background-size: contain;
}
.spacer{
    width: 0px;
    height: 464px;
}
.blok3{
   
   
    font-size: 32px;
    color: #fff;
    margin-top: 127px;
    margin-left: 153px;
    letter-spacing: 0.05em;
    line-height: 44px;
    font-weight: 700;
}
.clear_both{
    clear: both;
}
.border_top{
    padding-top:  1px;
}
.strong_2{
    width: 656px;
    height: 22px;
    color:#fff;
    margin-top: 12px;
    margin-left: 153px;
    letter-spacing: 0.01em;

}
.button_button{
    width: 144px;
    height: 40px;
    border: 1px solid #FFFFFF;
    border-radius: 36px;
    color:#fff;
    margin-top: 48px;
    margin-left: 149px;

}
.strong_button{
    margin-left: 150px;
    margin-top: 49px;
    letter-spacing: 0.04em;
    width: 144px;
    height: 40px;
    border:solid 1px #fff;
    border-radius: 20px;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    font-weight: 600;
    font-size: 16px;

}
div.strong_button div{
    margin-top: 8px;
}
.letter_spacing{
     letter-spacing: 0.01em;
     line-height: 22px;
}
.color_red{
    color:#FF0C0C;
}
.Snowboards{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    margin-top: 61px;
    letter-spacing: 0.03em;
}
.Matches_found{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-top: 11px;
    margin-left: -50px;
   
}
.clearfix:after{content:"."; visibility: hidden;display: block;height: 0;clear: both; }
.content_1{
   padding-left: 50px;
}
.Cattegories{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.03em;
    margin-top: 6px;

}
.block_view{
    width: 128px;
    height: 44px;
    border: 1px solid #C8C8C8;
    border-radius: 4px;
  
    margin-left: 20px;
    margin-bottom: 42px;
   
}
.block_view_1{
    color:#BFBEBE;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    width: 37px;
    margin: 12px;
}
.block_view_2{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    width: 10px;
    margin: 12px;
    margin-right: 30px;
}
.block_Sort_By{
    width: 222.97px;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid #BFBEBE;
    margin-top: 6px;
    margin-left: 65px;
}
.block_Sort_By_1{
    width: 58.84px;
    height: 22px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.03em;

    color: #BFBEBE;
    margin-left: 8px;
    margin-top:5px ;

}
.block_Sort_By_2{
    width: 110px;
    height: 22px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.03em;

    color: #000000;
    margin-right: 33px;
    margin-top: 5px;

}
.All_Mauntain{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.03em;
    color: #BFBEBE;
    margin-top: 26px;
}
.conteiner2{
    width: 256px;
    float: left;
   
}
.View_more{
    width: 256px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.03em;
    color: #000000;
    margin-top: 11px;
    padding-bottom: 11px;
    border-bottom: solid #BFBEBE 1px;
}
.menu_matches{
    margin-top: 100px;
}
.View_more2{
    margin-top: 74px;
}
.Gender1{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.03em;
    margin-top: 15px;
    color: #000000;
}
.men_strong{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.03em;
    color: #6C6C6C;
    margin-top: 9px;
    padding-left: 25px;
    background: url(image/square.png) no-repeat left;
}
.men_strong_2{
    color: #BFBEBE;
}
.Snowbord_Profile{
    padding-bottom: 26px;
    border-bottom: solid #BFBEBE 1px;
}
.sell{
    width: 272px;
    height: 400px;
 
}
.conteiner3{
    margin-right: 30px;
    margin-left: 80px;
}
.image_align{
    text-align: center;
   
}
.strong_snowboard{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
   
    letter-spacing: 0.03em;
    Width :240px;
    
    color: #000000;
    margin-top: 15px;
}
.strong_snowboard_1{
    font-weight: bolder;
}
.strong_snowboard_2{
    font-weight: 400;
}
.sell_in{
    width: 240px;
    
}
.strong_snowboard_3{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.03em;
    color: #000000;
}
.strong_snowboard_4{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.03em;
    text-decoration-line: line-through;
    color: #A9A9A9;
    margin-right: 20px;
    margin-left: 8px;
}
.strong_snowboard_5{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.03em;
    width: 400px;
    color: #000000;

}
.strong_snowboard_6{
    
    font-size: 16px;
    
}
.image_mountains{
    height: 374px;
    border: solid 1px rgb(0%, 0%, 0%,0.2);
    
}
.border_bottom{
    border-bottom: solid 1px rgb(0%, 0%, 0%,0.2);
    
}
.padding_30px{
    padding-left: 30px;
    padding-right: 30px;
}

.overflow_hidden{
    overflow: hidden;
}
.margin_21px{
    margin-bottom: 16px;
}
.conteiner5{
    max-width: 880px;
}
.page_bottom{
    width: 64.4px;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid #BFBEBE;
    margin-right: 5px;
    text-align: center;
}
.page_left{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.03em;
    color: #BFBEBE;
    margin-right: 5px;
    margin-top: 5px;
}
.conteiner4{
    height: 32px;
    width: 160px;
}
div.page_bottom div{
    margin-top: 5px;
}
.padding_80px{
    padding-left: 80px;
    padding-right: 80px;
}
.strong_Best_Sellers{
    width: 240px;
    height: 44px;
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: 0.03em;
    
    color: #000000;
    margin: auto;
    margin-top: 15px;
}
.border_bottom{
    border-bottom: solid 1px #A9A9A9;
}
hr{
    margin-left: 80px;
    margin-right: 80px;
}
.block_Best_Sellers{
    background: #FFFFFF;
    border: 1px solid #BFBEBE;
    box-sizing: border-box;
    margin-right: 16px;
    min-width :200px;
    width:21.4% ;
    height: 272px;
    padding: 16px;
    float: left;
    margin-bottom: 64px;
} 
hr{
    border: 1px solid #BFBEBE;

}

.gender2{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.01em;
    width: 180px;
    height: 44px;
    color: #000000;
    margin-top: 4px;
}
.gender2_1{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    margin-top: 16px;

    letter-spacing: 0.01em;

    color: #000000;

}
.text_allign{
    text-align: center;
}
.conteiner6{
    width:    580px;
     width:   50%;
     min-width: 204px;
    height: 203px;
    text-align: center;
    float: left;
}
.strong_need_help{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    
    text-align: center;
    letter-spacing: 0.03em;

    color: #000000;
    margin-top: 29px;

}
.strong_need_help_1{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    
    letter-spacing: 0.03em;
    margin-top: 13px;
    color: #000000;

}
.button_1{
    width: 136px;
    height: 36px;
    text-align: center;
    background: #1977DA;
    border: 1px solid #1977DA;
    box-sizing: border-box;
    border-radius: 0px 5px 5px 0px;
    margin-top: 13px;
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    padding-top: 7px;
}
.strong_need_help_2{
    margin-top: 13px;
}
.strong_need_help_3{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    
    text-align:left;
    letter-spacing: 0.03em;
    padding-left: 159;
    color: #000000;
    margin-top: 6px;
}
.poisk2{
    width: 224px;
    height: 36px;


    background: #FFFFFF;
    border: 1px solid #BFBEBE;
    box-sizing: border-box;
    border-radius: 5px 0px 0px 5px;
  
}
.button_1_1{
    margin-top: 0px;
}
.poisk2_2{
    width: 360px;
   padding-left:  160;
}
.block_footer{
   
    
    background: #1977DA;
}
.strong_footer{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    
    text-align: center;
    letter-spacing: 0.03em;

    color: #FFFFFF;
    margin-left: 90px;
    padding-left: 0;
}
ul.strong_footer ol{
    float: left;
    margin-left: 65px;
    margin-top: 10px;
    margin-bottom: 8px;
    padding: 0;
}
.strong_footer_2{
    font-family: 'Open Sans';
    font-style: normal;
    
    font-size: 12px;
    line-height: 16px;
    
    letter-spacing: 0.03em;

    color: #000000;
}
div.strong_footer_2 ul{
    float: left;
   
    padding: 0;
    margin-top: 35px;
    max-width: 287px;
    width: 25%;
}
div.strong_footer_2 ul ol{
    font-weight: 400;
    margin-bottom: 6px;
}
div.strong_footer_2 ul ol:first-of-type{
    font-weight: 700;
    margin-bottom: 15px;
}
div.strong_footer_2 ul:first-child{
    margin-left: 80px;
}
.strong_footer_3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    

    color: #000000;
   padding-top: 29px;
   padding-bottom: 14px;
}
.image_footer{
    margin-top: 41px;
}
.strong_footer_4{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    
    text-align: center;
    letter-spacing: 0.03em;
    padding-top: 39px;
    color: #000000;
    margin: auto;
}
div.strong_footer_4 span:first-child {
    margin-right: 16px;
   
}
.margin_left_80px{
    margin-left: 80px;
}